*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 750px;
    height: 100%;
    margin: 0 auto;
    
}
.page{
    display: flex;
}

.header{
    height:100px;
    background-color: rgb(123, 64, 218);
    color:white;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 15px;
}
.left-menu{
    width: 150px;
    height:100px;
    background-color: rgb(233, 73, 73);
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-left:10px;
    
}

.main-content{
    width:450px;
    height: 200px;
    background-color: rgb(55, 204, 204);
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 80px;
 
}

.right-menu{
    width:150px;
    height:100px;
    background-color: rgb(55, 204, 130);
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    
    

    
}